@import 'breakpoints';

.btn {
	$parent: &;

	border: none;

	display: inline-flex;
	position: relative;
	white-space: nowrap;
	text-decoration: none;
	line-height: 1;

	padding: var(--space-sm) var(--space-md);
	border-radius: var(--radius);
	font-size: var(--btn-font-size);

	color: inherit;
	background-color: transparent;

	// TODO: this
	font-family: var(--heading-font);
	text-transform: uppercase;

	justify-content: center;
	align-items: center;
	cursor: pointer;

	user-select: none;

	transition: all 0.15s ease;
	text-align: center;

	min-width: 80px;

	&,
	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:focus {
	}

	&:hover {
		transform: translateY(-1px);
		box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
	}

	&[disabled],
	&--disabled {
		cursor: default;
		box-shadow: none;
		pointer-events: none;

		&:hover {
			transform: none;
		}

		&:not(#{$parent}--loading) {
			opacity: 0.6;
		}
	}

	&__inner {
		transition: opacity 0.5s;

		> * {
			display: inline-block;
			vertical-align: middle;
		}
	}

	&--loading {
		#{$parent}__inner {
			opacity: 0;
		}
	}

	&--sm {
		font-size: var(--btn-sm);
	}
	&--md {
		font-size: var(--btn-md);
	}
	&--lg {
		font-size: var(--btn-lg);
	}

	&--wide {
		width: 100%;
		display: flex;
		margin-left: auto;
		margin-right: auto;

		&:not(:last-child) {
			margin-bottom: var(--space-sm);
		}
	}

	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	& + &:not(#{$parent}--wide) {
		margin-left: var(--space-sm);
	}

	&--primary {
		box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		// TODO: make flexible
		color: #fff;
		background: var(--btn-default, #ccc);
	}
	&--secondary {
		// TODO: make flexible
		box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		background-color: var(--clr-bg);
		color: var(--clr-contrast-higher);
		border: 1px solid var(--clr-contrast-low);
	}
	&--accent {
		// TODO: make flexible
		box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		background-color: var(--clr-accent);
		color: var(--clr-white);
	}
	&--icon {
		min-width: auto;
		padding: var(--space-sm);
	}
}
